[submodule "kringle"]
	path = kringle
	url = git@github.com:mhotwagner/kringle
[submodule "libraries/Ornament"]
	path = libraries/Ornament
	url = git@github.com:mhotwagner/Ornament
[submodule "libraries/Logger"]
	path = libraries/Logger
	url = git@github.com:mhotwagner/KringleLogger
